<p class="text-secondary text-center pb-0 mb-0">
    <small>abogado</small>
  </p>
  <h1 class="h2 pt-0 mb-0 text-center"><%= @lawyer.full_name %></h1>
  <h2 class="h4 text-center text-secondary pt-3"><%= Slot::DURATION_IN_MINUTES %> minutos de la cita</h2>
  <div class="pt-3">
  
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <% Availability::DAYS_OF_WEEK.each do |day| %>
            <th scope="col"><%= day %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <tr>
          <% Availability::DAYS_OF_WEEK.each_with_index do |_day, index| %>
            <td>
  
              <% @slots.each do |slot| %>
                <% if slot.day_of_week == index %>
                  <div class="p-1">
                    <% slot.slots.each do |s| %>
                    <%if s.available?%>
                      <%= link_to time, nil, class: 'badge badge-pill badge-info',
                                  'data-toggle': 'modal', 'data-target': '#confirmAppointmentModal',
                                  'data-coach-name': @lawyer.name,
                                  'data-appointment': "#{appointment_confirmation(s, time, Slot::DURATION_IN_MINUTES)}",
                                  'data-slot-id': s.id
                      %>
                      <%end%>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
  
            </td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <%= render partial: 'appointment/modal' %>